<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Scaffold</title>

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
<link href="/app.bundle.css?c1ddb1405f7d5b2ef294" rel="stylesheet"></head>
<body>
      {{{body}}}
<script src="/index.bundle.js?c1ddb1405f7d5b2ef294"></script></body>
</html>